<app-image-slider></app-image-slider>

<div class="container">
	<div class="row justify-content-center mt-5 mr-1 ml-1">
		<div class="col-md-12">
			<h3 class="align-middle text-center">Category</h3>
		</div>
	</div>
	<div class="row mb-5 pt-5" style="border-top: 2px solid black">
		<div class="col-md-6 col-sm-6 col-xs-12" >
			<div class="" *ngFor="let category of categories.slice(0, categories.length / 2)" style="width: 100%;">
				<div class="text-center mt-3 mb-3">
                    <button class="customLink btn btn-dark" *ngIf="category.enabled == true" routerLink="{{createLink(category.text.en.title)}}" 
                     		title="{{ category.text.en.title }}" id="horizontal-style">
							{{category.categoryId}}
							<b *ngIf="lang == 'en'">{{category.text.en.title}}</b>
							<b *ngIf="lang == 'bg'">{{category.text.bg.title}}</b>
							<b *ngIf="lang == 'ru'">{{category.text.ru.title}}</b>
					</button>
                </div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12" >
			<div *ngFor="let category of categories.slice(categories.length / 2, categories.length)" style="width: 100%">
				<div class="text-center mt-3 mb-3">
                    <button class="customLink btn btn-dark" *ngIf="category.enabled == true" routerLink="{{createLink(category.text.en.title)}}"
							title="{{ category.text.en.title }}" id="horizontal-style">
							{{category.categoryId}}
							<b *ngIf="lang == 'en'">{{category.text.en.title}}</b>
							<b *ngIf="lang == 'bg'">{{category.text.bg.title}}</b>
							<b *ngIf="lang == 'ru'">{{category.text.ru.title}}</b>
					</button>
                </div>
			</div>
		</div>
	</div>
</div>