<div class="someBlock"></div>
<ng2-slim-loading-bar class="ng2SlimLoadingBar main-content-ms"></ng2-slim-loading-bar>
<!-- start header app container  -->
<app-layout-header></app-layout-header>
<!-- end header app container  -->

<div class="container breadcrumb-ms main-content-ms">
	<app-breadcrumb></app-breadcrumb>
</div>

<!-- start main app container  -->
<div class="container-fluid" class="main-content-ms">
    <router-outlet></router-outlet>
</div>
<!-- end main app container  -->

<!-- start footer app container  -->
<app-layout-footer class="main-content-ms"></app-layout-footer>
<!-- end footer app container  -->