.product{
	height: 270px;
}

.productBox{
	/*border: 1px;*/
	/*background: gray;*/
	height: 270px;
    transition: background 0.5s ease-in-out;
}

.productBox:hover{
/*	border: 1px solid black;
	background: black;
	opacity: 0.3;
    filter: alpha(opacity=50);
    z-index: -9; *//* For IE8 and earlier */
}












.bottomMs{
	position: absolute;
    bottom: 0;
    left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}

/*Custom Link*/
.customLink{
	list-style-type:none;
	padding-left: 0px !important;
}

a {
    color: red;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}
/*Custom Link*/


/*pagination*/
.justify-content-center.paginate {
    display: flex !important;
    justify-content: center !important;
}


.my-pagination /deep/ .ngx-pagination .current {
    background: red;
}

.my-pagination /deep/ .ngx-pagination{
    margin-left: -35px !important;
}
    
ul.ngx-pagination {
    padding: 0px !important;
}



.content-min-ms{
    min-height:600px;
}





.product:hover > .productBox{
    border: 1px solid black;
    background: black;
    opacity: 0.3;
    filter: alpha(opacity=50);
    z-index: -9; /* For IE8 and earlier */
}

.product > .productBox:hover{
    border: 1px solid black;
    background: black;
    opacity: 0.3;
    filter: alpha(opacity=50);
    z-index: -9; /* For IE8 and earlier */
}








.productBox:hover + .middleMs {
    color: red;
    display: block;
    /*z-index: 999;*/
}

.middleMs:hover {
    color: red;
    display: block;
}


.product:hover > .productBox + .middleMs {
    color: red;
    display: block;
    /*z-index: 999;*/
}

.product:hover > .middleMs {
    color: red;
    display: block;
}

.middleMs {
    display: none;
}




/*draw diagonal lines in div background with CSS*/
.strikethrough {
    position: relative;       
}
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 40%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}



.circleBase {
    float:right;
    margin-top: -30px;
    margin-right: -30px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #dc3545;
    border: 3px solid #dc3545;
    padding-top: 15px;
    /*behavior: url(PIE.htc); */
    /* remove if you don't care about IE8 */
}





.fixOnSale{
  margin-left: 32px;
}
