/*--------------------------------------------------------------
# Start Footer
--------------------------------------------------------------
*/
.footer{
    background-color: #181828;
    height: 60px !important;
}
.footer-site-info{
    color: #5f727f;
}


.footer-site-info a{
    color: red;
}

/*--------------------------------------------------------------
# End Footer
--------------------------------------------------------------
*/